<div class="modal-header">
  <h4 class="modal-title">Calculator</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="CloseModal()"></button>
</div>
<div class="modal-body text-center">
  <input type="text" class="form-control" style="text-align: right;" readonly="" [value]="operationDisplay" />
  <p *ngIf="error;else resultSection" class="mt-1 text-danger" style="text-align: right;">{{error}}</p>
  <ng-template #resultSection>
  <p class="mt-1" style="text-align: right;">Result: <span class="fw-bold">{{result}}</span></p>
  </ng-template>
  <hr />
  <div class="col-12 d-block">
    <div class="col-12 my-1">

  <div class="col-4 d-inline-block">
    <button
    class="btn btn-default w-100 h-100 fw-bold calculator-btn "
    (click)="OnOperatorClick('+')">
    +
  </button>
  </div>
  <div class="col-4 d-inline-block">
    <button
    class="btn btn-default w-100 h-100 fw-bold calculator-btn "
    (click)="OnOperatorClick('-')">
    -
  </button>
  </div>
  <div class="col-4 d-inline-block">
  <button
  class="btn btn-default w-100 h-100 fw-bold calculator-btn "
  (click)="OnBackspaceClick()">
  <
</button></div>
<div class="col-12 my-2">
  <div class="col-6 d-inline-block ">
<button
class="btn btn-default w-100 h-100 fw-bold calculator-btn "
(click)="OnEqualClick()">
=
</button>
  </div>
  <div class="col-6 d-inline-block ">
<button
class="btn btn-default w-100 h-100  fw-bold calculator-btn "
(click)="OnClearClick()">
C
</button>
  </div>
</div>
    </div>
    <div class="col-12">
      <div class="col-4 d-inline-block "
      *ngFor="let item of [].constructor(10); let i = index">
      <button
        class="btn btn-default calculator-btn w-100 h-100"
        (click)="OnNumberClick(9 - i)">
        {{ 9 - i }}
      </button>
    </div>
  </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark btn-footer-close"  (click)="CloseModal()">Close</button>
</div>
